In [2]:
# This is a comment
"""
This is used as a multi line comment
"""

'hi'

# Integer

In [3]:
1

1

In [4]:
1.0

1.0

In [5]:
1 + 1

2

In [6]:
2 - 1

1

In [7]:
2 * 2

4

In [8]:
4 / 2

2.0

In [9]:
3 / 2

1.5

In [10]:
2 ** 3

8

In [11]:
10 % 3

1

In [12]:
(1 + 2) * 2

6

# Boolean

In [13]:
True

True

In [14]:
False

False

In [16]:
not True

False

In [17]:
not False

True

In [18]:
True and False # &&

False

In [19]:
True or False # ||

True

In [20]:
1 == 1

True

In [21]:
2 == 1

False

In [22]:
2 != 1

True

In [23]:
2 >= 1

True

In [24]:
1 >= 1

True

In [26]:
0 >= 1

False

# String

In [32]:
"Hi BB106"

'Hi BB106'

In [28]:
'Hi BB106'

'Hi BB106'

In [29]:
"""BB 106"""

'BB 106'

In [30]:
'''BB106'''

'BB106'

In [31]:
"""BB106
PyhtonETL"""

'BB106\nPyhtonETL'

In [33]:
"I'm Ian"

"I'm Ian"

In [37]:
'''I'm the new "balck"'''

'I\'m the new "balck"'

In [66]:
name = "David"
print("My name is " + name)

My name is David

In [44]:
class_num = "106"
print("This class is BB" + class_num)

This class is BB106

In [46]:
class_num = '106'
name = 'Ian'
job = 'engineer'
"This class is BB" + class_num + ", my name is "+ name + ". Before I come here I was a " + job

'This class is BB106, my name is Ian. Before I come here I am a engineer'

In [47]:
# String interpolation
"This class is BB{} ,my name is {}. Before I come here I was a {}"

'This class is BB{} ,my name is {}. Before I come here I was a {}'

In [49]:
"This class is BB{} ,my name is {}. Before I come here I was a {}".format(105, name, job)

'This class is BB105 ,my name is Ian. Before I come here I was a engineer'

In [60]:
"""
This class is BB{} ,
I love {} ,
my name is {}.
Before I come here I was a {}""".format(105,
                                        105,
                                        "Ian",
                                        "engineer")

'\nThis class is BB105 ,\nI love 105 ,\nmy name is Ian.\nBefore I come here I was a engineer'

In [58]:
"""
This class is BB{class_num} ,
I love {class_num} ,
my name is {student_name}.
Before I come here I was a {previous_job}""".format(class_num=105,
                                                    student_name="Ian",
                                                    previous_job="engineer")

'\nThis class is BB105 ,\nI love 105 ,\nmy name is Ian.\nBefore I come here I was a engineer'

In [64]:
# Simple debug message
# Using %s syntax
url = 'https://ianchenhq.com'
print("[INFO] Getting page %s"%url)

[INFO] Getting page https://ianchenhq.com

In [53]:
# Slicing
# "String"[start:end:step]
"Python"[0]

'P'

In [52]:
"Python"[0:2]

'Py'

In [54]:
"Python"[1:5:2]

'yh'

In [56]:
"Python"[::-1]

'nohtyP'

In [68]:
langs = "python, ruby, javascript, java, c"
langs.split()

['python,', 'ruby,', 'javascript,', 'java,', 'c']

In [70]:
langs = "python, ruby, javascript, java, c"
langs.split(', ')

['python', 'ruby', 'javascript', 'java', 'c']

In [73]:
"""          I love writing code, my name is Ian


"""

'          I love writing code, my name is Ian\n\n\n'

In [74]:
"""          I love writing code, my name is Ian


""".strip()

'I love writing code, my name is Ian'

In [75]:
"harry potter".upper()

'HARRY POTTER'

In [76]:
"harry potter".title()

'Harry Potter'

In [78]:
"Harry Potter".lower()

'harry potter'

In [81]:
"My name is Ian, Ruby is awesome."

'My name is Ian, Ruby is awesome.'

In [82]:
"My name is Ian, Ruby is awesome.".replace('Ruby', 'Python')

'My name is Ian, Python is awesome.'